/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * fistfulofgold implementation : © Joel Lieberman <joellie@live.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * fistfulofgold.css
 *
 * fistfulofgold stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (fistfulofgold_fistfulofgold.tpl), and to HTML elements you create dynamically
    (in fistfulofgold.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

/* Overall layout */
#fistfulofgold_play_area {
    position: relative;
    /* border: 1px dotted black; */
}
#fistfulofgold_play_area > * { /* selects all children in the play area */
    margin: 15px auto; /* add some vertical spacing between elements */
}
.spectatorMode #my_hand_container {
    display: none;
}
#my_hand_container {
    text-align: center; /* center the header text */
    padding: 1px;
    /* border: 1px dotted cyan; */
}
#my_discarded_cards_container {
    display: none; /* will be hidden at game start and only shown during the reclaimDiscardedCards state */
    text-align: center; /* center the header text */
    /* border: 1px dotted cyan; */
}

/* Play mat */
#play_mat {
    position: relative;
    width: 740px;
    height: 385px;
    margin: auto; /* center this element horizontally */
    background-image: url('img/playmat.jpg');
    background-repeat: no-repeat;
}
.fistfulofgold_large #play_mat {
    width: 1280px;
    height: 670px;
    background-image: url('img/playmat_1280.jpg');
}
#round_number_container {
    position: relative;
    top: 1%;
    right: 1%;
    float: right;
    width: fit-content;
    font-weight: bold;
    text-shadow: 0px 0px 10px white;
}
#round_number {
    margin-left: 5px;
}
.fog_player_board {
    position: relative;
    display: block;
    width: 100%;
    height: 50%;
    /* border: 1px dotted cyan; */
}
.fog_player_name {
    position: absolute;
    left: 1%;
    text-shadow: 0px 0px 5px black;
}
#fog_player_name_top {
    top: 0%;
}
#fog_player_name_bottom {
    bottom: 0%;
}
.stockitem_selected {
    box-shadow: 0 0 10px 5px red; /* "physical" cards (in hand and in play) get a drop-shadow effect; the card art in the tooltip does not */
    border-radius: 10px;
    z-index: 1;
}

/* Cards */
.fog_card {
    position: absolute;
    width: 103px;
    height: 144px;
}
.fistfulofgold_large .fog_card {
    width: 178px;
    height: 249px;
}
.fog_card_art {
    position: relative;
    width: 206px; /* this must be the width from the sprite-sheet */
    height: 288px; /* this must be the height from the sprite-sheet */
    transform: scale(0.5); /* the default layout uses half-size cards */
    transform-origin: top left;
    margin: auto; /* center the image horizontally */
    border-radius: 20px;
    background-image: url('img/cards.jpg');
}
.fistfulofgold_large .fog_card_art {
    transform: scale(0.865);
}
.fog_card .fog_card_art {
    box-shadow: 3px 3px 5px; /* "physical" cards (in hand and in play) get a drop-shadow effect; the card art in the tooltip does not */
}
.fog_card_tooltip .fog_card_art {
    transform: scale(1.0); /* tooltips always show the full-size card art */
}
.fog_card_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 68%;
    bottom: 11%;
    left: 15%;
    right: 17%;
    text-align: center; /* each line of text is centered on the page */
    justify-content: space-evenly;
    font-family: "Roboto", Arial, sans-serif;
    /* border: 1px solid brown; */
}
.fog_card_text {
    font-size: 11px;
}
.fog_card_note {
    font-size: 9px;
}
.fog_card_tooltip {
    text-align: center;
    width: 320px;
}
.fog_card_tooltip_card_text {
    font-style: italic;
}
.fog_card_tooltip_versus_table {
    margin: auto;
    text-align: left;
}
.fog_card_tooltip_versus_table td {
    padding: 1px 5px;
}
.fog_card_tooltip_versus_text {
    font-style: normal;
}
.fog_card_row {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 1.7%;
    width: 96.5%;
    height: 81%;
    /* border: 1px solid red; */
}
#fog_card_row_top {
    top: 14%;
}
#fog_card_row_bottom {
    top: 4.5%;
}
.fog_card_slot {
    width: 15%;
    height: 100%;
    /* border: 1px solid blue; */
}
.fog_card_slot_active {
    background-color: rgba(255, 255, 255, 0.1);
}
.fog_final_slot {
    position: absolute;
    left: 42%;
    /* border: 2px solid orange; */
}

/* Resources. */
#fog_gold_row {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 45%;
    bottom: 45%;
    left: 1.5%;
    width: 97%;
    z-index: 1;
    /* border: 1px solid gold; */
}
.fog_gold_zone {
    width: 15%;
    /* border: 1px dotted gold; */
}
.fog_card .fog_gold_zone_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.fog_card .fog_gold_zone {
    position: absolute;
    left: 10%;
    width: 80%;
    z-index: 1;
    /* border: 1px dotted gold; */
}
.fog_gold_cube {
    position: absolute;
    width: 20px;
    height: 20px;
}
.fistfulofgold_large .fog_gold_cube {
    width: 40px;
    height: 40px;
}
.fog_gold_cube_art {
    position: relative;
    width: 40px; /* this must be the width from the sprite-sheet */
    height: 40px; /* this must be the height from the sprite-sheet */
    transform: scale(0.5); /* the default layout uses half-size cubes */
    transform-origin: top left;
    margin: auto; /* center the image horizontally */
    background-image: url('img/gold_large.png');
}
.fistfulofgold_large .fog_gold_cube_art {
    transform: scale(1.0);
}
.fog_resource_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 2px;
    vertical-align: middle;
    background-image: url('img/gold_small.png');
    background-repeat: no-repeat;
}
.fog_gold_icon {
    background-position: 0px 0px;
}

/* End of round summary table.*/
.fog_scoring_dialog_table {
    margin: auto; /* center this element horizontally */
}
.fog_scoring_dialog_row:nth-child(2n+3) { /* color all the gold rows */
    background: rgba(255, 215, 0, 0.3);
    border-bottom: 2px solid grey;
}
.fog_scoring_dialog_row:last-child { /* special styling for the Total row */
    font-weight: bold;
}

/* General supply area */
#general_supply {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly; /* center items horizontally */
    align-items: flex-start; /* align items along their top edge */
}
#player_aid {
    width: 197px;
    height: 288px;
    background-image: url('img/reminder.jpg');
    background-repeat: no-repeat;
    border-radius: 28px;
    border: 1px solid black;
}
#gold_supply {
    width: 120px;
    height: 400px;
}
.fistfulofgold_large #gold_supply {
    width: 440px;
    height: 200px;
}

/* For querying CSS values using dojo.getStyle() */
#dummy_card {
    display: none;
}
#dummy_card_art {
    display: none;
}
#dummy_gold_cube {
    display: none;
}
